@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}
/* Global */
:root {
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);
  --color-black: #050a13;
  --color-gray: #1b1e26;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-white: #fff;
  --size-max-width: 1200px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: GMarketSans;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
ul {
  list-style: none;
  padding: 0;
}
/* header */
.header {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__logo__img {
  width: 36px;
  height: 36px;
}
.header__logo__title {
  font-size: 1.8rem;
}
.header__menu {
  display: flex;
  gap: 4px;
}
.header__menu__item {
  padding: 8px 16px;
}
.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}
.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 5px;
}
